<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1a6c90"/>
    <title>{{missonaryName}} - Yielded Evangelical Servants</title>
    <link rel="shortcut icon" href="{{baseURL}}favicon.ico">
    <!--<base href="{{baseURL}}">-->
    <link rel="canonical" href="{{baseURL}}missionary/{{missionaryURL}}"/>
    <link rel="stylesheet" type="text/css" href="../../public/main.css" media="all">
</head>
<body>
<div id="wrapper">
    <section id="header">
        <header>
            <a href="/"><img src="../static/images/logo.png" alt="Yielded Evangelical Servants"></a>
        </header>
    </section>
    
    <section id="nav">
        <nav>
            <!--<a href="about">About</a>-->
            <a href="missionaries">Missionaries</a>
            <a href="join">Get Involved</a>
            <a href="contact">Contact</a>
            <a href="donate">Donate</a>
        </nav>
    </section>

    <section class="name">
        <h1>Ann Smith</h1>
    </section>

    <section id="missionary">
        <div class="leftside">
            <img src="../static/images/ann.png" alt="" class="full">
            <span class="big-only center">
                <b>Contact</b><br />
                407-738-1140
            </span>
        </div>
        <div class="rightside">
            <div class="donationbutton">
                <a class="button" href="{{donationURL}}">Donate to {{name}}</a>
            </div>
            <div class="bio keep-newlines">
                <b>About</b>
                Interesting stuff about me is I wrote this website.
                
                <b>Ministry</b>
                I work with such and such spreading the word about.
                
                <b>Personal Message</b>
                Thank you so much for your support.
            </div>
            <span class="small-only center">
                <section class="divider" id="sponsor">
                    <span>Contact</span>
                </section>
                407-738-1140
            </span>
        </div>
    </section>

    <section id="footer">
        <footer>
            <div class="extra">
                <p><b>P.O. Box 700697, St. Cloud, FL 34770</b> - 407-498-5128<br />
                Yielded Evangelical Servants &copy; 2002-{{year}} All Rights Reserved</p>
            </div>
            <div class="right">
                <a href="privacy">Privacy Policy</a>
                <br />
                <a href="contact">Contact</a>
            </div>
        </footer>
    </section>
</div><!--End #wrapper-->
<script src="../../public/main.js"></script>
</body>
</html>