<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1a6c90"/>
    <title>Donate - {{siteName}}</title>
    <link rel="shortcut icon" href="{{baseURL}}favicon.ico">
    <meta name="description" content="Donate to support our missionaries, their projects and mission trips through ACH, Debit/Credit Card or Bank Account (ACH) through WePay or by Mail." />
    <link rel="canonical" href="{{baseURL}}donate/"/>
    <link rel="alternate" href="{{baseURL}}donate/" hreflang="en">
    <!--<link rel="alternate" href="{{baseURL}}es/donate/" hreflang="es"> only if spanish version exists-->
    <link rel="stylesheet" type="text/css" href="{{baseURL}}main.css?ver={{ver}}" media="all">
</head>
<body>
<div id="wrapper">
    <section id="header">
        <header>
            <a href="{{baseURL}}"><img src="{{baseURL}}images/logo.png" alt="{{siteName}}"></a>
        </header>
    </section>
    
    <section id="nav">
        <nav>
            <a href="{{baseURL}}missionaries">Missionaries</a>
            <a href="{{baseURL}}join">Get Involved</a>
            <a href="{{baseURL}}contact">Contact</a>
            <a href="{{baseURL}}donate" class="active">Donate</a>
        </nav>
    </section>

    <section class="center">
        <h1>Donate</h1>
    </section>

    <section class="center">
        <div>
            If you feel led to donate to Yielded Evangelical Servants’ missionaries or mission projects monetarily, donate using either the link below or Mail-in a check directly. If you don’t have the funds to donate you can always support our missionaries and missions with prayer. We very much appreciate your support.
        </div>
    </section>
    

    <section class="divider" id="eft credit debit bank">
        <span>Debit, Credit or Bank (ACH) Donation</span>
    </section>
    
    <section>
        <div style="flex:2">
            If you would like to donate with a Credit or Debit Card or Bank Account (ACH), Click the Donate with Wepay button.<br />
            <br />
            <b>Please consider covering the processing fees charged by WePay so we can distribute more of your donations to the field. Just check the box when making your donation! </b>
        </div>
        <div class="center">
            <a class="button" href="https://www.aplos.com/aws/give/YieldedEvangelicalServantsInc/" rel="nofollow" target="_blank">
                <i class="icon">
                    <svg class="mk-svg-icon" data-name="mk-icon-credit-card" data-cacheid="0" style="height:16px; width: 17.142857142857px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1792"><path d="M1760 128q66 0 113 47t47 113v1216q0 66-47 113t-113 47h-1600q-66 0-113-47t-47-113v-1216q0-66 47-113t113-47h1600zm-1600 128q-13 0-22.5 9.5t-9.5 22.5v224h1664v-224q0-13-9.5-22.5t-22.5-9.5h-1600zm1600 1280q13 0 22.5-9.5t9.5-22.5v-608h-1664v608q0 13 9.5 22.5t22.5 9.5h1600zm-1504-128v-128h256v128h-256zm384 0v-128h384v128h-384z"></path></svg>
                </i> Donate with WePay
            </a>
        </div>
    </section>

    <section class="divider" id="mail check">
        <span>Mail-in Donation</span>
    </section>

    <section>
        <div>
            <img src="{{baseURL}}images/mailindonation.png" class="full">
        </div>
        <div>
                Download the mail form from the “Download Mail-in Form” button. Print, fill out and then mail the form to Yielded Evangelical Servants with a check enclosed. Remember to include who the donation is to go to.<br />
                <br />
                P.O. Box 700697<br />
                St. Cloud, FL 34770<br />
        </div>
        <div class="center">
            <a class="button" href="https://www.aplos.com/aws/give/YieldedEvangelicalServantsInc/" rel="nofollow" target="_blank">
                <i class="icon">
                    <svg class="mk-svg-icon" data-name="mk-moon-file-download" data-cacheid="1" style="height:16px; width: 16px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M419.716 99.715c13.746 13.746 25.277 39.336 27.776 60.285h-159.492v-159.492c20.949 2.499 46.538 14.03 60.284 27.776l71.432 71.431zm-163.716 92.285v-192h-184c-22 0-40 18-40 40v432c0 22 18 40 40 40h336c22 0 40-18 40-40v-280h-192zm-16 288l-128-128h80v-96h96v96h80l-128 128z"></path></svg>
                </i> Download Mail-in Form
            </a>
        </div>
    </section>

    <section class="divider" id="mail check">
        <span>Contact the Accountant</span>
    </section>

    <section id="contact">
        <div>
            If you have any questions or problems donating or with other related topics use the accountant contact form from the link below. <br /><br />
            <div class="center">
                <a class="button" href="{{baseURL}}contact#accounting">Contact</a>
            </div>
            <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
    </section>



    <section id="footer">
        <footer>
            <div class="extra">
                <p><b>{{address}}</b> - {{phone}}<br />
                {{siteName}} &copy; {{copyrightStart}}-{{copyrightEnd}} All Rights Reserved</p>
            </div>
            <div class="right">
                <a href="{{baseURL}}privacy">Privacy Policy</a>
                <br />
                <a href="{{baseURL}}contact">Contact</a>
            </div>
        </footer>
    </section>
</div><!--End #wrapper-->
<script src="{{baseURL}}main.js?ver={{ver}}"></script>
</body>
</html>