<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1a6c90"/>
    <title>Yielded Evangelical Servants</title>
    <!--<base href="http://127.0.0.1//">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="../../public/main.css" media="all">
</head>
<body>
<div id="wrapper">

    <header>
        <a href="/"><img src="../static/images/logo.png" alt="Yielded Evangelical Servants"></a>
    </header>

    <nav>
        <!--<a href="about">About</a>-->
        <a href="missionaries">Missionaries</a>
        <a href="join">Get Involved</a>
        <a href="contact">Contact</a>
        <a href="donate">Donate</a>
    </nav>


    <section id="home-header" class="center">
        <div>
            <img src="../static/images/homepage-children.jpg" alt="children" class="full">
        </div>
        <div>
            Yielded Evangelical Servants is a Not-for-profit organization responsible for handling services for missionaries all over the world.
            <br /><br />
            Our mission is to share the Gospel of Jesus Christ with the world by assisting in developing, promoting and monitoring the work of our members and encouraging members and providing cost-effective financial services, training, and support to enable them to focus on their calling.
        </div>
    </section>

    <section id="home-message" class="center">
        <h2>Guided by the spirit and their sending church without organizational encumbrances.</h2>
    </section>

    <section id="home-stats" class="center">
        <div>
            <b title="Started in 1990">{{startedyear}}</b><br/>Years
        </div>
        <div>
            <b>80</b><br/>Missionaries
        </div>
        <div>
            <b>15+</b><br/>Countries
        </div>
        <div>
            <b>450+</b><br/>Trips
        </div>
        
    </section>


    <section class="divider" id="about">
        <span>About</span>
    </section>


    <section id="about-history">
        <div>
            <h2>History</h2>
            Pastor Bernie LaTour and his wife Jean began their missionary work with New Tribes Mission in South America in 1970. They subsequently moved to northern Virginia in 1988 where Pastor LaTour served as Director of Missions for a large nondenominational church that had been supporting them. Y.E.S. was founded in November 1990 out of a need to centrally manage the donations provided for some of the missionaries with whom Pastor LaTour was working at the time.
        </div>
        <div>
            <h2>Financial Accountability</h2>
            The Board of Y.E.S. is committed to biblical standards of financial stewardship, sending as much financial support to the field as possible. Y.E.S. operates with a volunteer staff and on the lowest administrative costs possible.
        </div>
    </section>


    <section id="about-vision">
        <div>
            <h2>Our Vision</h2>
            Our first and primary charge is to “Enable the Saints to Serve” — to be guided by the Spirit and their sending church without organizational encumbrances. Just as Paul was sent by the church at Antioch, our missionaries’ primary accountability and support system is their local church.
        </div>
        <div>
            <img src="../static/images/BocaTrip.png" alt="Boca Trip" class="full">
        </div>
    </section>


    <section class="divider" id="mission">
        <span>Our Mission</span>
    </section>


    <section>
        <div>
            <h2>What we do</h2>
            Our mission is to share the Gospel of Jesus Christ with the world by assisting in developing, promoting and monitoring the work of our members and encouraging members and providing cost-effective financial services, training, and support to enable them to focus on their calling.
        </div>
    </section>
    
    <section id="about-vision">
        <div>
            <h2>Ministry Services</h2>
            <ul>
                <li>Assist in the development and promotion of ministry</li>
                <li>Assist in on-going spiritual training and development leading to ordination</li>
                <li>Assist in communication with other missionaries and donors through web based services</li>
                <li>Provide training to sending churches on the development and support of missions</li>
                <li>Coordinate and promote short-term mission trips to assist and encourage members</li>
            </ul>
        </div>
        <div>
            <h2>Financial and Personal Services</h2>
            <ul>
                <li>Y.E.S. offers the most cost-effective and quality service possible to our missionaries</li>
                <li>Maintains records of and distributes monthly support payments</li>
                <li>Provides a monthly report of support received from donors</li>
                <li>Prepares annual Form 1099-MISC statements for reporting income to the IRS</li>
                <li>Solicits funds to support ministries and provide emergency relief assistance</li>
                <li>Provides a personal web-page devoted to each ministry</li>
            </ul>
        </div>
    </section>


    <section class="divider" id="leadership">
        <span>Leadership</span>
    </section>

    <section>
        <div>
            The Board has in-depth background and experience in the management of ministries, mission work, the preparation of missionaries, accounting, bookkeeping, income taxation for missionaries, and personal financial management. The Board partners with “sending” churches in the oversight of Y.E.S. missionaries.
        </div>
    </section>

    <section class="center">
        <div>
            <b>Bernie Latour</b>
            <br />
            <img src="../static/images/bernie.png" alt="President">
            <br />
            President
        </div>
        <div>
            <b>John Smith</b>
            <br />
            <img src="../static/images/bernie.png" alt="Vice President">
            <br />
            Vice president
        </div>
        <div>
            <b>Jean Latour</b>
            <br />
            <img src="../static/images/jean.png" alt="Secretary">
            <br />
            Secretary
        </div>
        <div>
            <b>John Smith</b>
            <br />
            <img src="../static/images/bernie.png" alt="Treasurer">
            <br />
            Treasurer
        </div>
    </section>

    <section class="divider" id="belief">
        <span>Our Belief</span>
    </section>

    <section>
        <div>
            <b>We believe:</b> The Bible is the Holy Word of God, written by man, but divinely inspired by God. God is the Creator and source of all. God exists in three persons – the Father, Son (Jesus Christ), and Holy Spirit. Jesus Christ is the one true God, who was born of a virgin, lived a pure and Holy life as a human, was crucified by man, gave His life as a sacrifice for the sins of all, was resurrected, ascended into Heaven, and will return again. Love, grace, salvation, and eternal life are gifts from God. All men and women are born with a sinful nature that separates them from God, but each may enjoy God’s gifts by believing in Jesus Christ as their Savior. Born-again believers make up the body of Christ; a local church is part of the body of Christ in that locality. It is a Christian’s responsibility and privilege to share the Gospel with anyone who has not heard His Word or accepted Jesus Christ as his or her Savior.
        </div>
    </section>

    <section class="divider" id="icfc">
        <span>International Christian Fellowship of Churches</span>
    </section>

    <section>
        <div>
            Many churches started in the field lack a strong support system. To support the pastors and to enable these churches to grow, we have been given ICFC. This new arm of Y.E.S. will provide training, conferences, and a means for pastors to communicate with and support one another.
        </div>
    </section>

    <section class="divider" id="sponsor">
        <span>Who We Sponsor</span>
    </section>

    <section class="center">
        <div>
            <a href="http://www.missionaryflights.org/" rel="nofollow"> <img src="../static/images/MissionaryFlightsInternationalLogo.png" alt="Boca Trip"></a>
        </div>
    </section>



    <footer>
        <div class="extra">
            <p>(407) 498-5128<br />
            <b>P.O. Box 700697, St. Cloud, FL 34770</b><br />
            Yielded Evangelical Servants &copy; 2002-{{year}} All Rights Reserved</p>
        </div>
        <div class="right">
            <a href="privacy">Privacy Policy</a>
            <br />
            <a href="contact">Contact</a>
        </div>
    </footer>

</div><!--End #wrapper-->
<script src="../../public/main.js"></script>
</body>
</html>