<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1a6c90"/>
    <title>Get Involved - {{siteName}}</title>
    <link rel="shortcut icon" href="{{baseURL}}favicon.ico">
    <meta name="description" content="Participation in a short-term mission trip so that God’s work may be accomplished. Become a formal financial partner" />
    <link rel="canonical" href="{{baseURL}}join/"/>
    <link rel="alternate" href="{{baseURL}}join/" hreflang="en">
    <!--<link rel="alternate" href="{{baseURL}}es/join/" hreflang="es"> only if spanish version exists-->
    <link rel="stylesheet" type="text/css" href="{{baseURL}}main.css?ver={{ver}}" media="all">
</head>
<body>
<div id="wrapper">
    <section id="header">
        <header>
            <a href="{{baseURL}}"><img src="{{baseURL}}images/logo.png" alt="{{siteName}}"></a>
        </header>
    </section>
    
    <section id="nav">
        <nav>
            <a href="{{baseURL}}missionaries">Missionaries</a>
            <a href="{{baseURL}}join" class="active">Get Involved</a>
            <a href="{{baseURL}}contact">Contact</a>
            <a href="{{baseURL}}donate">Donate</a>
        </nav>
    </section>


    <section id="join-header" class="center">
        <div style="flex:2;">
            <em>&ldquo;And how can anyone preach unless they are sent?…&rdquo; — ROMANS 10:15</em> 
            <br /><br />
            This verse is a wonderful representation of both the missionary and their support system. The Lord blesses some with the ability to give and provide for those He has called to go. For the harvest is plentiful and the workers are few. It is important that God’s people become involved in His work. We pray daily for those led to this site that they may hear His voice and support us or our missionaries as He leads. You can help in a number of ways.<br />
            <br />
            <a href="{{baseURL}}download/Application_for_Membership-Aug2015.pdf" class="button">Download Missionary Application</a><br />
            <a href="{{baseURL}}download/Member_Handbook-Aug2015.pdf" class="button">Download Missionary Handbook</a>
        </div>
        <div>
            <img src="{{baseURL}}images/kids.jpg" alt="children" class="full">
        </div>
    </section>

    <section class="divider" id="ways-to-help">
        <span>Ways to Help</span>
    </section>

    <section>
        <div>
            <h2>Pray For Us</h2>
            Pray for God’s protection of and anointing on each missionary, project leader, and Y.E.S. Board member and for the projects and activities as our members face daily opposition from Satan. You can become a formal prayer partner by completing the information form on the missionaries web-page.
        </div>
        <div>
            <h2>Participate</h2>
            Participation in a short-term mission trip so that God’s work may be accomplished. Become a formal financial partner either by completing the New Partner Information form or through the missionaries web-page.
        </div>
    </section>

    <section class="divider" id="ways-to-help">
        <span>Get in Touch to Learn More</span>
    </section>

    <section class="center">
        <div>
            <a href="{{baseURL}}contact" class="button">Contact Us</a>
        </div>
    </section>



    <section id="footer">
        <footer>
            <div class="extra">
                <p><b>{{address}}</b> - {{phone}}<br />
                {{siteName}} &copy; {{copyrightStart}}-{{copyrightEnd}} All Rights Reserved</p>
            </div>
            <div class="right">
                <a href="{{baseURL}}privacy">Privacy Policy</a>
                <br />
                <a href="{{baseURL}}contact">Contact</a>
            </div>
        </footer>
    </section>
    

</div><!--End #wrapper-->
<script src="{{baseURL}}main.js?ver={{ver}}"></script>
</body>
</html>