<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url={{baseURL}}missionary/{{missionaryURL}}" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{baseURL}}missionary/{{missionaryURL}}/"/>
    <title>{{siteName}} Missionary redirect</title>
    <link rel="shortcut icon" href="{{baseURL}}favicon.ico">
</head>
<body>
    I think you're looking for {{name}} at <a href="{{baseURL}}missionary/{{missionaryURL}}">/missionary/{{missionaryURL}}</a>.<br />
    I will redirect you now.<br />
    If you're not redirected automatically <a href="{{baseURL}}missionary/{{missionaryURL}}">click here.</a>
</body>
</html>
