<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#1a6c90"/>
    <title>Thanks - {{siteName}}</title>
    <link rel="shortcut icon" href="{{baseURL}}favicon.ico">
    <meta name="description" content="" />
    <link rel="canonical" href="{{baseURL}}thanks/"/>
    <link rel="alternate" href="{{baseURL}}thanks/" hreflang="en">
    <!--<link rel="alternate" href="{{baseURL}}es/thanks/" hreflang="es"> only if spanish version exists-->
    <link rel="stylesheet" type="text/css" href="{{baseURL}}main.css?ver={{ver}}" media="all">
</head>
<body>
<div id="wrapper">
    <section id="header">
        <header>
            <a href="{{baseURL}}"><img src="{{baseURL}}images/logo.png" alt="{{siteName}}"></a>
        </header>
    </section>
    
    <section id="nav">
        <nav>
            <a href="{{baseURL}}missionaries">Missionaries</a>
            <a href="{{baseURL}}join">Get Involved</a>
            <a href="{{baseURL}}contact">Contact</a>
            <a href="{{baseURL}}donate">Donate</a>
        </nav>
    </section>

    <section class="center">
        <div>
            <h1>Thanks for your donation.</h1><br /><br />
            <a href="{{baseURL}}" class="button">Go Home.</a><br /><br /><br /><br /><br /><br />
        </div>
    </section>



    <section id="footer">
        <footer>
            <div class="extra">
                <p><b>{{address}}</b> - {{phone}}<br />
                    {{siteName}} &copy; {{copyrightStart}}-{{copyrightEnd}} All Rights Reserved<br />
                    {{siteName}} is a Registered under 501(c)(3) as not-for-profit.
                </p>
            </div>
            <div class="right">
                <a href="{{baseURL}}privacy">Privacy Policy</a>
                <br />
                <a href="{{baseURL}}contact">Contact</a>
            </div>
        </footer>
    </section>
    

</div><!--End #wrapper-->
<script src="{{baseURL}}main.js?ver={{ver}}"></script>
</body>
</html>